openapi: 3.0.3
info:
  title: Quantum API
  version: "2.0.0"
  description: |
    Quantum API — general-purpose quantum services for games and applications:
    simulations, text transformations, gate operations, and more.
    
    **Version 2.0.0** - Major update with new URL structure.
    All endpoints are under `/public-facing/api/quantum/` path.
    
    **Note:** The base URL `https://DavidJGrimsley.com/api/quantum/` serves an 
    interactive info page (HTML). For JSON service metadata, use the public-facing `/health` endpoint.
    
    Access the API at: https://DavidJGrimsley.com/public-facing/api/quantum/
    Interactive docs: https://DavidJGrimsley.com/public-facing/api/quantum/docs
servers:
  - url: https://DavidJGrimsley.com/public-facing/api/quantum
    description: Production API
tags:
  - name: Service Info
    description: Health checks and service metadata
  - name: Text Manipulation
    description: Quantum text transformation operations
  - name: Quantum Operations
    description: Quantum gate operations and simulations
paths:
  /health:
    get:
      summary: Health check
      description: Returns service status, version, and qiskit availability
      tags:
        - Service Info
      responses:
        '200':
          description: Health OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  qiskit_available:
                    type: boolean
  /quantum_text:
    post:
      summary: Transform text using quantum echo
      description: Apply quantum transformations to text using word dictionary categorization
      tags:
        - Text Manipulation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The text to transform
              required:
                - text
      responses:
        '200':
          description: Transformation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  original:
                    type: string
                  transformed:
                    type: string
                  coverage_percent:
                    type: number
                  quantum_words:
                    type: integer
                  total_words:
                    type: integer
  /quantum_gate:
    post:
      tags:
        - Quantum Operations
      summary: Apply quantum gate operation
      description: |
        Execute a quantum gate operation on a single qubit to demonstrate quantum mechanics.
        
        **Gate Types:**
        - **rotation**: Applies an RY (rotation-Y) gate with a custom angle. Creates quantum superposition - the qubit exists in a probabilistic state between |0⟩ and |1⟟. The measurement result varies randomly based on the superposition strength. Used in the game to create quantum-influenced text transformations.
        - **bit_flip**: Applies a Pauli-X gate (quantum NOT gate). Deterministically flips |0⟩→|1⟩. Always produces measurement=1.
        - **phase_flip**: Applies a Pauli-Z gate. Flips the phase of |1⟩ while leaving |0⟩ unchanged. Always produces measurement=0 when starting from |0⟩.
        
        **Response Fields:**
        - `superposition_strength`: Amplitude of the |1⟩ state (0=no superposition, 1=maximum). Only non-zero for rotation gates.
        - `measurement`: The collapsed quantum state (0 or 1). For rotation gates, this varies probabilistically based on superposition_strength. For bit_flip/phase_flip, this is deterministic.
        - `success`: Whether measurement collapsed to 0 (true) or 1 (false).
        
        **Use Cases:**
        - Demonstrate quantum superposition and measurement collapse
        - Generate truly random outcomes based on quantum probability
        - Create quantum-influenced game mechanics or procedural generation
        
        The qubit starts in |0⟩ state, the gate is applied, then measured to collapse the wavefunction.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - gate
              properties:
                gate:
                  type: string
                  enum: [rotation, bit_flip, phase_flip]
                  description: Type of quantum gate to apply
                  example: "rotation"
                rotation_angle:
                  type: number
                  minimum: 0
                  maximum: 180
                  description: |
                    Angle in degrees for RY rotation gate (0 to 180). Required only when gate="rotation". 
                    - 0°: No rotation (stays in |0⟩, always measures 0)
                    - 45°: Creates balanced superposition (~50% chance of measuring 0 or 1)
                    - 90°: Maximum superposition (equal amplitude between |0⟩ and |1⟩)
                    - 180°: Full rotation to |1⟩ (always measures 1)
                    Higher angles create stronger superposition until 90°, then decrease.
                  example: 45
  /quantum_echo_types:
    get:
      tags:
        - Text Manipulation
      summary: List available transformation types
      description: Get all available quantum text transformation types and their descriptions
      responses:
        '200':
          description: List of types
          content:
            application/json:
              schema:
                type: object
                properties:
                  basic_echo_types:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                  advanced_transformations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
components:
  schemas: {}
