openapi: 3.0.3
info:
  title: Quantum API
  version: "1.0.0"
  description: |
    Quantum API — general-purpose quantum services for games and applications:
    simulations, text transformations, gate operations, and more.
    This API is evolving and will gain more endpoints over time.
    See https://quantum-api.davidjgrimsley.com for docs and interactive exploration.
servers:
  - url: https://quantum-api.davidjgrimsley.com
paths:
  /:
    get:
      summary: Service info
      responses:
        '200':
          description: Service metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  service:
                    type: string
                  version:
                    type: string
                  description:
                    type: string
  /health:
    get:
      summary: Health check
      description: Returns service and qiskit status
      responses:
        '200':
          description: Health OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  qiskit_available:
                    type: boolean
  /quantum_text:
    post:
      summary: Transform text using quantum echo
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
      responses:
        '200':
          description: Transformation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  original:
                    type: string
                  transformed:
                    type: string
                  coverage_percent:
                    type: number
  /quantum_gate:
    post:
      summary: Apply a quantum gate operation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                gate:
                  type: string
                  description: "e.g., bit_flip, phase_flip, rotation"
                rotation_angle:
                  type: number
      responses:
        '200':
          description: Gate application result
          content:
            application/json:
              schema:
                type: object
                properties:
                  gate_type:
                    type: string
                  measurement:
                    type: integer
                  success:
                    type: boolean
  /quantum_echo_types:
    get:
      summary: List available transformation types
      responses:
        '200':
          description: List of types
          content:
            application/json:
              schema:
                type: object
                properties:
                  basic_echo_types:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
components:
  schemas: {}
