openapi: 3.0.3
info:
  title: Quantum API
  version: "2.0.0"
  description: |
    Quantum API — general-purpose quantum services for games and applications:
    simulations, text transformations, gate operations, and more.
    
    **Version 2.0.0** - Major update with new URL structure.
    All endpoints are under `/api/quantum/` path.
    
    **Note:** The base URL `https://DavidJGrimsley.com/api/quantum/` serves an 
    interactive info page (HTML). For JSON service metadata, use `/health` endpoint.
    
    Access the API at: https://DavidJGrimsley.com/api/quantum/
    Interactive docs: https://DavidJGrimsley.com/api/quantum/docs
servers:
  - url: https://DavidJGrimsley.com/api/quantum
    description: Production API
tags:
  - name: Service Info
    description: Health checks and service metadata
  - name: Text Manipulation
    description: Quantum text transformation operations
  - name: Quantum Operations
    description: Quantum gate operations and simulations
paths:
  /health:
    get:
      summary: Health check
      description: Returns service status, version, and qiskit availability
      tags:
        - Service Info
      responses:
        '200':
          description: Health OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  qiskit_available:
                    type: boolean
  /quantum_text:
    post:
      summary: Transform text using quantum echo
      description: Apply quantum transformations to text using word dictionary categorization
      tags:
        - Text Manipulation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                  description: The text to transform
              required:
                - text
      responses:
        '200':
          description: Transformation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  original:
                    type: string
                  transformed:
                    type: string
                  coverage_percent:
                    type: number
                  quantum_words:
                    type: integer
                  total_words:
                    type: integer
  /quantum_gate:
    post:
      tags:
        - Quantum Operations
      summary: Apply a quantum gate operation
      description: Apply quantum gate operations (bit_flip, phase_flip, rotation) to a qubit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                gate:
                  type: string
                  description: "Gate type: bit_flip, phase_flip, or rotation"
                  enum: [bit_flip, phase_flip, rotation]
                rotation_angle:
                  type: number
                  description: "Rotation angle in radians (required for rotation gate)"
      responses:
        '200':
          description: Gate application result
          content:
            application/json:
              schema:
                type: object
                properties:
                  gate_type:
                    type: string
                  measurement:
                    type: integer
                  success:
                    type: boolean
  /quantum_echo_types:
    get:
      tags:
        - Text Manipulation
      summary: List available transformation types
      description: Get all available quantum text transformation types and their descriptions
      responses:
        '200':
          description: List of types
          content:
            application/json:
              schema:
                type: object
                properties:
                  basic_echo_types:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
                  advanced_transformations:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        description:
                          type: string
components:
  schemas: {}
